<beans
		xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:context="http://www.springframework.org/schema/context"
		xmlns:mvc="http://www.springframework.org/schema/mvc"
		xmlns:task="http://www.springframework.org/schema/task"
		xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd">

<!--	&lt;!&ndash; 启用spring mvc 注解 &ndash;&gt;-->
<!--	<context:annotation-config />-->

	<!-- 设置使用注解的类所在的jar包 -->
	<context:component-scan base-package="com.qiriver.spring" />

<!--	<task:annotation-driven />-->

	<!--<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping" />
	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
		<property name="messageConverters">
			<list>
				<bean class="org.springframework.http.converter.StringHttpMessageConverter">
					<constructor-arg value="UTF-8"></constructor-arg>
					<property name="writeAcceptCharset" value="false"/>
					<property name="supportedMediaTypes">
						<list>
							<value>text/html; charset=UTF-8</value>
							<value>application/json;charset=UTF-8</value>
						</list>
					</property>
				</bean>
				<bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
					<property name="supportedMediaTypes">
						<list>
							<value>text/html; charset=UTF-8</value>
							<value>application/json;charset=UTF-8</value>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>-->

	<!--<bean id="jspViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
		<property name="prefix" value="/WEB-INF/jsp"/>
		<property name="suffix" value=".jsp"/>
		<property name="redirectHttp10Compatible" value="false" />
	</bean>

	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		&lt;!&ndash; 设置上传文件的最大尺寸为6MB &ndash;&gt;
		<property name="maxUploadSize" value="12582912"/>
		<property name="resolveLazily" value="true"/>
		<property name="defaultEncoding" value="utf-8"/>
	</bean>

	<bean id ="taskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor" >
		&lt;!&ndash; 核心线程数，默认为1 &ndash;&gt;
		<property name ="corePoolSize" value ="30" />
		&lt;!&ndash; 线程池维护线程所允许的空闲时间，默认为60s &ndash;&gt;
		<property name ="keepAliveSeconds" value ="300" />
		&lt;!&ndash; 最大线程数，默认为Integer.MAX_VALUE &ndash;&gt;
		<property name ="maxPoolSize" value ="50" />
		&lt;!&ndash; 队列最大长度，一般需要设置值=notifyScheduledMainExecutor.maxNum；默认为Integer.MAX_VALUE&ndash;&gt;
		<property name ="queueCapacity" value ="1000" />
	</bean>

	<bean id="exceptionResolver" class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<property name="exceptionMappings">
			<props>
				<prop key="org.springframework.web.multipart.MaxUploadSizeExceededException">/error/uploadFileError</prop>
			</props>
		</property>
	</bean>-->

</beans>